@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* -> CSS reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* // CSS reset  */

body {
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 400px;
}

/* -> Utilities classes used */
img {
    display: block;
}
input {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 35px;
    color: white;
    border: 1px solid transparent;
    font-weight: 500;
}
input[value*="iOS"]
{
    background-color: hsl(171, 66%, 44%);
    border-bottom: 3px solid hsl(171, 41%, 41%);
    box-shadow: 0px 3px 9px hsl(171, 66%, 44%);
    transition: transform 0.3s ease;
}
input[value*="Mac"]
{
    background-color: hsl(233, 100%, 69%);
    border-bottom: 3px solid hsl(233, 44%, 52%);
    box-shadow: 0px 3px 9px hsl(233, 100%, 69%);
    transition: transform 0.3s ease;
}

input[value*="iOS"]:hover {
    background-color: hsl(171, 63%, 38%);
    box-shadow: 0px 3px 15px hsl(171, 66%, 44%);
    cursor: pointer;
    transform: translate(0px, -5px);
}
input[value*="Mac"]:hover {
    background-color: hsla(233, 59%, 57%);
    box-shadow: 0px 3px 15px hsl(233, 100%, 69%);
    cursor: pointer;
    transform: translate(0px, -5px);
}
/* // Utilities classes used */


/* -> Headings and Paragraphs */

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
}
p {
    color: hsl(201, 11%, 66%);
}
/* // Headings and Paragraphs */






/* ! Dashboard */

.dashboard {
    width: 100%;
    background: url('images/bg-header-desktop.png') no-repeat top;
    background-size: 100% auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 3rem;
}
.dashboard > img {
    padding-top: 5rem;
}
.button {
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
/* // Dashboard */

/* ! Working */

.working {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1.4rem 0rem;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
}
.working_flex_column {
    text-align: center;
    padding: 0rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    max-width: 700px;
}
.flex_row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
.flex_row > img {
    width: 100%;
    flex: 1 1 375px;
    max-width: 700px;
}
.flex_row > .working_flex_column {
    padding: 1rem;
    flex: 1 1 375px;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    text-align: unset;
}
/* // Working */



/* ! Accessing */

.accessing {
    padding: 2.4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}
.accessing > img {
    width: 100%;
}

/* // Accessing */

/* ! Supercharge */

.supercharge {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.4rem;
}
.supercharge_flex_row {
    margin-top: 2.4rem;
    display: flex;
    flex-flow: row wrap;

    gap: 5rem;
    max-width: 1440px;
}
.supercharge_flex_column {
    padding: 1rem;
    flex: 1 1 375px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* // Supercharge */

/* ! FAANG */

.FAANG {
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 3rem;
}
.FAANG > img {
    flex: 0 0 199px;
}
/* // FAANG */

/* ! Download */

.download {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    padding: 2.4rem;
    margin-bottom: 1.5rem;
}
/* // Download */


/* ! Footer */

footer {
    background-color: lightgray;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    gap: 2.4rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
}
footer > img {
    width: 50px;
}
.links {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 35px;
    column-gap: 1rem;
    place-items: center left;
}
.links > p {
    color: black;
    font-weight: 500;
    transition: font-weight 0.3s ease, letter-spacing 0.3s ease;
}
.links > p:hover {
    color: hsl(172, 52%, 35%);
    font-weight: 600;
    letter-spacing: 0.15rem;
    cursor: pointer;
}
.social_links {
    display: flex;
    gap: 1rem;
    
}
.social_links > img{
    transition: transform 0.3s ease;
}
.social_links > img:hover {
    cursor: pointer;
    transform: scale(0.8, 0.8);
}









/* ? Media */

@media screen and (max-width: 769px) {
    .flex_row > .working_flex_column {
        align-items: center;
        text-align: center;
    }
    footer {
        gap: 1.5rem;
        flex-wrap: nowrap;
    }
    footer > img {
        width: 100px;
    }
    .links {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1.5rem;
    }
    .social_links {
        gap: 1rem;
        align-self: unset;
    }
}
@media screen and (max-width: 500px) {
    .dashboard {
        background: url('images/bg-header-mobile.png') no-repeat top;
        background-size: 100% auto;
    }
    footer {
        flex-flow: column nowrap;
        gap: 3rem;
    }
    footer > img {
        width: 100px;
    }
    .links {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1.5rem;
    }
    .social_links {
        gap: 3rem;
        align-self: unset;
    }
}

/* // Media */